<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464112267249-t21e6i14rtn0bsle69ha378quhfs9v4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464112267249-t21e6i14rtn0bsle69ha378quhfs9v4j</string>
	<key>API_KEY</key>
	<string>AIzaSyA0D1PxjU-L8EH5XSJdJzUciHRijU7MqrU</string>
	<key>GCM_SENDER_ID</key>
	<string>464112267249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lectureswapperproject</string>
	<key>PROJECT_ID</key>
	<string>lectureswapperse</string>
	<key>STORAGE_BUCKET</key>
	<string>lectureswapperse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464112267249:ios:cbd3dcbf9148da692f9e50</string>
	<key>DATABASE_URL</key>
	<string>https://lectureswapperse.firebaseio.com</string>
</dict>
</plist>